/* Mobile-first styles */

/* Ensure any positioned element that can use a parent container as anchor, uses this element as anchor */
.characterEditor {
  position: relative;
  padding-top: 128px;
  padding-bottom: 64px;
}

/* Apply the design proportion of the header */
.header {
  max-width: 65%;
  padding-bottom: 64px;
}

.title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  letter-spacing: -0.5px;
}

.description {
  font-size: 1.25rem;
  margin: 0;
}

.characterWrapper {
  min-height: 500px;
}

/* On mobile, make the control panel container overflow and position it on top of the chracter wrapper */
.controlColumn {
  max-width: 100%;
  display: flex;
  gap: 0 10px;
  margin-left: -32px;
  margin-right: -32px;
  overflow: auto;
  position: absolute;
  top: 70%;
}

/* Tablet + Desktop styles */
@media (min-width: 768px) {
  .characterEditor {
    /* Resetting mobile properties */
    position: static;
  }
  /* Ensure any positioned element that can use a parent container as anchor, uses this element as anchor */
  .maxWidthWrapper {
    position: relative;
  }
  .characterWrapper {
    /* Resetting mobile properties */
    position: fixed;
    top: 15%;
    left: 60%;
    bottom: 5%;
  }

  .controlColumn {
    max-width: 50%;
    /* Resetting properties */
    display: block;
    margin-left: 0;
    margin-right: 0;
    overflow: visible;
    position: static;
    top: auto;
  }

  /* Perspective element only needed on Desktop (based on README designs) */
  .perspectiveDecoration {
    width: 100%;
    height: 40%;
    position: fixed;
    top: 60%;
    background-color: hsl(195deg 20% 86%);
  }
}
